.values__container {
  /* display: flex;
    flex-direction: column; */
  background-color: #f7f7f7;
  padding-top: 59px;
  padding-bottom: 45px;
  border-right-width: 8vw;
  border-right-color: rgba(255, 186, 96, 0.6);
  border-right-style: solid;
}

@media (max-width: 980px) {
  .values__headerContainer {
    padding: 30px 0;
  }
  .values__headerDiv {
    margin-bottom: 30px;
  }
}

@media (min-width: 981px) {
  .values__headerContainer {
    padding: 2% 0;
  }
  .values__headerDiv {
    width: 100%;
  }
}

@media (min-width: 1350px) {
  .values__headerContainer {
    padding: 27px 0;
  }
}

.values__headerContainer {
  width: 80%;
  max-width: 1080px;
  margin: auto;
}

.values__headerDiv {
  width: 100%;
}

.values__header {
  /* animation-name: valuesHeaderFade;
      animation-duration: 1000ms;
      animation-delay: 0ms;
      opacity: 0;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both; */
  margin-bottom: 10px;
}

.values__headerText {
}

.values__headerText > h2 {
  font-size: 48px;
  font-family: prata;
  line-height: 1.6em;
  text-align: center;
  padding-bottom: 10px;
  color: #333;
  font-weight: 500;
}

.values__divider {
  /* animation-name: valuesDividerSlideTop;
        animation-duration: 1000ms;
        animation-delay: 0ms;
        opacity: 0;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
        transform: translate3d(0px, -20%, 0px); */
  max-width: 70px;
  height: 23px;
  margin: 0 auto 30px auto;
  box-sizing: content-box;
  border-color: #dd9e00 transparent transparent transparent;
  border-top-width: 3px;
  border-style: solid;
  content: "";
  width: 100%;
  height: 1px;
}

.values__dividerInternal {
  display: inline-block;
  width: 100%;
}

.values__gridColumn > h2 {
  font-size: 20px;
  font-family: robotoSlab;
  padding: 0 0 10px 0;
  color: #333;
  font-weight: 500;
  line-height: 1.4em;
}

.values__gridColumn > p {
  font-family: playfair;
  line-height: 2em;
}
