@media screen and (min-width: 970px) {
  .navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 200;
  }
  .fullMenu {
    display: flex;
  }
  .burgerMenu {
    display: none;
  }
}

@media screen and (max-width: 970px) {
  .fullMenu {
    display: none;
  }
  .burgerMenu {
    display: flex;
    color: rgb(53, 156, 253);
    /* padding-bottom: 33px; */
  }
}

.navbar {
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}

.navbar__left {
  flex: 1;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.logoSmall {
  max-width: 75px;
  transition: max-width 500ms ease-in-out;
}

.logoBig {
  max-width: 110px;
  transition: max-width 500ms ease-in-out;
}

.navbar__right {
  display: flex;
  padding-left: 73px;
}

.navbar__link {
  text-decoration: none;
  color: black !important;
  padding-left: 22px;
  font-family: playfair;
  font-size: 14px;
  /* font-weight: 500; */
}
