@media (min-width: 981px) {
  .testimonials__div {
    width: 100% !important;
    max-width: 100% !important;
  }
  .testimonials__left {
    width: 50%;
  }
  .testimonials__right {
    margin-right: 0 !important;
    width: 50%;
    padding-left: 30px;
  }
  .testimonials__leftTop {
    margin: 0;
  }
  .testimonials__rightTop {
    width: 100%;
  }
  .testimonials__rightTopInner {
    margin: 0;
    margin-right: 0 !important;
    width: 100%;
  }
  .testimonials__rightBottom {
    width: 100%;
  }
  .testimonials__rightBottomInner {
    width: 100%;
    margin-right: 0 !important;
    margin: 0;
  }
}

@media (max-width: 980px) {
  .testimonials__div {
    width: 80% !important;
    max-width: 1080px !important;
  }
  .testimonials__left {
    width: 100% !important;
    margin-bottom: 0px;
  }
  .testimonials__leftTop {
    margin: 0;
  }
  .testimonials__right {
    padding-left: 0px;
    padding-bottom: 0px;
    width: 100% !important;
  }
  .testimonials__rightTop {
    margin-top: 0px !important;
  }
  .testimonials__rightTopInner {
    margin-bottom: 0;
    margin-right: 0 !important;
    width: 100%;
  }
}

.testimonials__container {
  background-color: #f6f8fa !important;
  padding-top: 120px;
  padding-right: 0px;
  padding-bottom: 120px;
  padding-left: 0px;
}

.testimonials__div {
  display: flex;
  margin: auto;
}

/* LEFT & RIGHT */

.testimonial__description {
  font-family: playfair;
  font-size: 16px;
  line-height: 2em;
}

.testimonial__innerDesc > p {
  padding-bottom: 1em;
  font-size: 16px;
  line-height: 2em;
}

.testimonial__innerDesc > strong {
  font-size: 16px;
  line-height: 2em;
  display: block;
  margin-top: 16px;
  font-weight: 700;
}

.testimonial__meta > a {
  color: #dd9e00;
  text-decoration: none;
}

@media (max-width: 980px) and (min-width: 768px) {
  .testimonial__description {
    display: block;
  }
}

.testimonials__left {
  background-color: #dd9e00;
  padding-top: 80px;
  padding-right: 6%;
  padding-bottom: 0px;
  padding-left: 6%;
}

.testimonials__leftTop {
  /* animation-name: testimonialSlideLeft; */
  /* animation-duration: 1000ms; */
  /* animation-delay: 0ms; */
  /* opacity: 0; */
  /* animation-timing-function: ease-in-out; */
  /* animation-fill-mode: both !important; */
  /* transform: translate3d(-20%, 0px, 0px); */
  border-color: #f7ad00;
  border-left-width: 6px;
  border-left-style: solid;
  margin-bottom: 30px !important;
  background-color: #ffffff !important;
  box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.06);
  text-align: left;
  padding: 30px;
  line-height: 1.5;
}

.testimonials__leftBottom {
  /* animation-name: testimonialSlideLeft; */
  /* animation-duration: 1000ms; */
  /* animation-delay: 200ms; */
  /* opacity: 0; */
  /* animation-timing-function: ease-in-out; */
  /* animation-fill-mode: both !important; */
  /* transform: translate3d(-20%, 0px, 0px); */
  border-color: #f7ad00;
  border-left-width: 6px;
  border-left-style: solid;
  margin-bottom: 30px !important;
  background-color: #ffffff !important;
  box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.06);
  text-align: left;
  padding: 30px;
  line-height: 1.5;
}

.testimonials__right {
  margin-right: 0 !important;
  padding-left: 30px;
}

.testimonials__rightTop {
  /* animation-name: testimonialSlideRight; */
  /* animation-duration: 1000ms; */
  /* animation-delay: 0ms; */
  /* opacity: 0; */
  /* animation-timing-function: ease-in-out; */
  /* animation-fill-mode: both !important; */
  /* transform: translate3d(20%, 0px, 0px); */
  background-color: #3da8e5;
  background-image: url("../assets/img/testimonialbackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -80px !important;
  margin-bottom: 30px !important;
  padding-top: 80px;
  padding-right: 10%;
  padding-bottom: 80px;
  padding-left: 10%;
}

.testimonials__rightTopInner {
}

.testimonials__rightTopInnerText > h4 {
  font-family: montserrat;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4) !important;
  letter-spacing: 2px;
  line-height: 1.6em;
  padding-bottom: 10px;
}

.testimonials__rightTopInnerText > h2 {
  font-family: playfair-bold, Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 33px;
  line-height: 1.5em;
  color: white !important;
  padding-bottom: 10px;
}

.testimonials__rightBottom {
  padding-top: 0;
  padding-right: 0px;
  padding-bottom: 0;
  padding-left: 0px;
  background-color: #3da8e5;
  width: 100%;
}

.testimonials__rightBottomInner {
}

.testimonials__rightBottomButtonWrapper {
}

.testimonials__contactLink {
  /* animation-name: testimonialButtonSlideRight; */
  /* animation-duration: 1000ms; */
  /* animation-delay: 200ms; */
  /* animation-timing-function: ease-in-out; */
  /* animation-fill-mode: both !important; */
  /* transform: translate3d(40%, 0px, 0px); */
  /* opacity: 0; */
  color: white !important;
  text-decoration: none;
  border-width: 0px !important;
  border-radius: 0px;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: playfair;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  background-color: #dd9e00;
  padding-top: 60px !important;
  padding-right: 32px !important;
  padding-bottom: 60px !important;
  padding-left: 32px !important;
  display: inline-block;
  border: 2px solid;
  line-height: 1.7em !important;
  transition: all 0.2s;
}
