* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: playfair;
  src: url("./assets/fonts/playfair.ttf");
}

@font-face {
  font-family: playfair-bold;
  src: url("./assets/fonts/PlayfairDisplay-ExtraBold.ttf");
}

@font-face {
  font-family: playfairSC;
  src: url("./assets/fonts/playfairSC.ttf");
}

@font-face {
  font-family: playfairSC-black;
  src: url("./assets/fonts/PlayfairDisplaySC-Black.ttf");
}

@font-face {
  font-family: limelight;
  src: url("./assets/fonts/limelight.ttf");
}

@font-face {
  font-family: montserrat;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: alice;
  src: url("./assets/fonts/Alice-Regular.ttf");
}

@font-face {
  font-family: prata;
  src: url("./assets/fonts/Prata-Regular.ttf");
}

@font-face {
  font-family: robotoSlab;
  src: url("./assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
